<div id="<%= dom_id picture %>">
  <p>
    <strong>Name:</strong>
    <%= picture.name %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= picture.notes %>
  </p>

  <p>
    <strong>Images:</strong>
    <% picture.images.each do |image| %>
      <div><%= link_to image.filename, image %></div>
    <% end %>
  </p>

</div>
